<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uas_cahyaseptia">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ButtonIcon">
        <activity
            android:name=".tugas.Sqlite"
            android:exported="true" />
        <activity
            android:name=".mahasiswa.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".mahasiswa.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".tugas.Network"
            android:exported="false" />
        <activity
            android:name=".tugas.Kamera"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".tugas.Asynctask"
            android:exported="false" />
        <activity
            android:name=".tugas.Maps"
            android:exported="true" />
        <activity
            android:name=".tugas.SMS"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>